.header-section {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-align: center;
    padding: 80px 20px;
    background-image: url('../img/gym-background.png');
    background-size: cover;
    background-position: center;
}

.header-section h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.membership-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
}

.membership-button:hover {
    background-color: #fff;
}

.features {
    padding: 50px 20px;
    text-align: center;
    max-width: 2000px;
    margin: 0 auto;
}

.features h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 30px;
}

.feature-card {
    border: 2px solid #eee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
    color: var(--primary-color);
}