table.table {
    width: 100%;
    border-collapse: collapse;
    max-width: 1000px;
    margin: 20px auto ;
}

table.table tr:first-of-type th {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
    cursor: default;
}

table.table tr:not(:first-of-type):nth-of-type(2n) {
    background-color: rgba(255,255,255,.5);
}

table.table tr:not(:first-of-type):nth-of-type(2n + 1) {
    background-color: rgba(255,255,255,.25);
}

table.table tr:not(:first-of-type):hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);

}

table.table td {
    padding: 7.5px 15px;
}

table.table td.center {
    text-align: center;
}

table.table td:not(:last-of-type) {
    border-right: 1px solid rgba(255,255,255,1)
}
.clickable {
    cursor: pointer !important;
}